@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@14..36,300;14..36,400;14..36,500;14..36,600;14..36,700&display=swap');
@import 'variables.css';
@layer theme, base, components, utilities;

@layer base {
  :root {
    &[data-theme='light'] {
      color-scheme: light;
    }
    &[data-theme='dark'] {
      color-scheme: dark;
    }

    color-scheme: light dark;
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

  :disabled,
  [aria-busy='true'],
  .is-disabled {
    pointer-events: none;
    color: var(--color-neutral-500);
    opacity: 0.45;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
  }

  textarea {
    resize: vertical;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
    height: auto;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ol,
  ul,
  menu {
    list-style: none;
  }
}

@layer components {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  ::placeholder {
    color: var(--muted-foreground);
  }

  .font-xs {
    font-size: var(--text-xs);
    /* line-height: var(--leading-relaxed); */
  }
  .font-sm {
    font-size: var(--text-sm);
    /* line-height: var(--leading-normal); */
  }
  .font-base {
    font-size: var(--text-base);
    /* line-height: var(--leading-normal); */
  }
  .font-lg {
    font-size: var(--text-lg);
    /* line-height: var(--leading-normal); */
  }
  .font-xl {
    font-size: var(--text-xl);
    /* line-height: var(--leading-snug); */
  }
  .font-2xl {
    font-size: var(--text-2xl);
    /* line-height: var(--leading-tight); */
  }
  .font-3xl {
    font-size: var(--text-3xl);
    /* line-height: 1; */
  }
  .font-4xl {
    font-size: var(--text-4xl);
    /* line-height: 1; */
  }
}
