:root {
  /* Цвета для компонентов */
  --color-danger: #oklch(0.577 0.245 27.325);
  --color-warning: #ff9800;
  --color-success: #4caf50;
  --color-primary: #2563eb;
  --color-accent: #7159da;
  --color-info: #2196f3;
  --color-text-muted: #6b7280;
  --color-text-secondary: #2b2b2b;
  --color-button: #252629;

  --background: light-dark(oklch(0.985 0 0), oklch(0.145 0 0));
  --foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --card: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));
  --card-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --popover: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));
  --popover-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --primary: light-dark(oklch(0.205 0.1 230), oklch(0.65 0.18 230));
  --primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.985 0 0));
  --secondary: light-dark(oklch(0.922 0 0), oklch(0.3 0 0));
  --secondary-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
  --muted: light-dark(oklch(0.922 0 0), oklch(0.3 0 0));
  --muted-foreground: light-dark(oklch(0.556 0 0), oklch(0.65 0 0));
  --accent: light-dark(oklch(0.922 0 0), oklch(0.3 0 0));
  --accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
  --destructive: light-dark(
    oklch(0.577 0.245 27.325),
    oklch(0.577 0.245 27.325)
  );
  --border: light-dark(oklch(0.922 0 0), oklch(0.3 0 0));
  --input: light-dark(oklch(0.922 0 0), oklch(0.3 0 0));

  &[data-theme="light"] {
    color-scheme: light;
  }
  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

:disabled {
  opacity: 0.4;
  pointer-events: none;
}
[aria-busy="true"] {
  cursor: progress;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* todo */
:where(ul[class]) {
  list-style: none;
}

[class] {
  border: none;
}
