:root {
  /* Цвета для компонентов */
  --color-danger: oklch(0.577 0.245 27.325);
  --color-warning: #ff9800;
  --color-success: #4caf50;

  --color-accent: #7159da;
  --color-info: #2196f3;

  --color-neutral-20: oklch(0.985 0 0);
  --color-neutral-25: oklch(0.922 0 0);
  --color-neutral-50: oklch(0.65 0 0);
  --color-neutral-55: oklch(0.556 0 0);
  --color-neutral-70: oklch(0.3 0 0);
  --color-neutral-80: oklch(0.205 0 0);
  --color-neutral-90: oklch(0.145 0 0);

  --color-blue-50: oklch(0.65 0.18 230);
  --color-blue-80: oklch(0.205 0.1 230);

  /* theme */
  --background: light-dark(var(--color-neutral-20), var(--color-neutral-90));
  --foreground: light-dark(var(--color-neutral-90), var(--color-neutral-20));
  --card: light-dark(var(--color-neutral-20), var(--color-neutral-90));
  --card-foreground: light-dark(
    var(--color-neutral-90),
    var(--color-neutral-20)
  );
  --popover: light-dark(var(--color-neutral-20), var(--color-neutral-90));
  --popover-foreground: light-dark(
    var(--color-neutral-90),
    var(--color-neutral-20)
  );
  --primary: light-dark(var(--color-blue-80), var(--color-blue-50));
  --primary-foreground: light-dark(
    var(--color-neutral-20),
    var(--color-neutral-20)
  );
  --secondary: light-dark(var(--color-neutral-25), var(--color-neutral-70));
  --secondary-foreground: light-dark(
    var(--color-neutral-90),
    var(--color-neutral-20)
  );
  --muted: light-dark(var(--color-neutral-25), var(--color-neutral-70));
  --muted-foreground: light-dark(
    var(--color-neutral-55),
    var(--color-neutral-50)
  );
  --accent: light-dark(var(--color-neutral-25), var(--color-neutral-70));
  --accent-foreground: light-dark(
    var(--color-neutral-90),
    var(--color-neutral-20)
  );
  --border: light-dark(var(--color-neutral-25), var(--color-neutral-70));
  --input: light-dark(var(--color-neutral-25), var(--color-neutral-70));

  &[data-theme="light"] {
    color-scheme: light;
  }
  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

:disabled {
  opacity: 0.5;
  pointer-events: none;
}
[aria-busy="true"] {
  opacity: 0.5;
  pointer-events: none;
  cursor: progress;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* todo */
:where(ul[class]) {
  list-style: none;
}

[class] {
  border: none;
}
