:root {
  --color-danger: #ef4444;
  --color-warning: #ff9800;
  --color-success: #4caf50;
  --color-primary: #2563eb;
  --color-accent: #7159da;
  --color-info: #2196f3;
  --color-text-muted: #6b7280;
  --color-text-secondary: #2b2b2b;
  --color-button: #252629;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: #111;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

:disabled {
  opacity: 0.4;
  pointer-events: none;
}
[aria-busy="true"] {
  cursor: progress;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:where(ul[class]) {
  list-style: none;
}

[class] {
  border: none;
}
